extends layout

block content
    h1 Music Module
    if text && voice && server
          p Bound to server #{server} in text channel #{text} and voice channel #{voice}
    if queue
          p Songs in queue #{queue.length}
          table
                tr
                      th #
                      th Song
                      th Uploader
                      th Duration
                      th added by
                - for (var song=0; song < queue.length; song++)
                      tr
                            td= song+1
                            td= queue[song].title
                            td= queue[song].author
                            td= queue[song].length
                            td= queue[song].user.name
    else
        p No songs in queue